<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

-   Understand the dataset for Chicago Public School level performance
-   Store the dataset in an Db2 database on IBM Cloud instance
-   Retrieve metadata about tables and columns and query data from mixed case columns
-   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**: 

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv">link</a>.

**NOTE**:

For the learners who are encountering issues with loading from .csv in DB2 on Firefox, you can download the .txt files and load the data with those: <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.txt">link</a>.

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called **SCHOOLS**.

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01"><img src="https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

The following modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
%load_ext sql #load extension sql for SQL server to be based at Python environment

In [2]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://pfq74109:ld24H7kIayY4i8QS@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb?security=SSL

'Connected: pfq74109@bludb'

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [7]:
%sql SELECT COUNT(SCHOOL_ID) FROM CHICAGO_SCHOOL WHERE ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL = 'ES'

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[(462,)]

### Problem 2

##### What is the highest Safety Score?

In [8]:
%sql select max(safety_score) from chicago_school

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[(99,)]

### Problem 3

##### Which schools have highest Safety Score?

In [9]:
%sql select name_of_school from chicago_school where safety_score = (select max(safety_score) from chicago_school)

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [14]:
%%sql 
select name_of_school, average_student_attendance 
from chicago_school 
order by average_student_attendance desc nulls last limit 10 --nulls last => filter out null values

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [17]:
%%sql 
select name_of_school, average_student_attendance 
from chicago_school 
order by average_student_attendance asc fetch first 5 rows only --nulls last => filter out null values

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [19]:
%%sql
select name_of_school, replace(average_student_attendance,'%','') as average_student_attendance
from chicago_school 
order by average_student_attendance asc fetch first 5 rows only

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [23]:
%%sql
select name_of_school, average_student_attendance
from chicago_school
where cast(replace(average_student_attendance,'%','') as double) < 70
order by average_student_attendance

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [27]:
%%sql
select community_area_name, sum(college_enrollment) as Total_College_Enrollment from chicago_school
group by community_area_name
order by sum(college_enrollment)

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871),
 ('EDISON PARK', 910),
 ('HEGEWISCH', 963),
 ('MONTCLARE', 1317),
 ('NEAR SOUTH SIDE', 1378),
 ('FOREST GLEN', 1431),
 ('ARMOUR SQUARE', 1458),
 ('AVALON PARK', 1522),
 ('RIVERDALE', 1547),
 ('MCKINLEY PARK', 1552),
 ('CALUMET HEIGHTS', 1568),
 ('PULLMAN', 1620),
 ('BEVERLY', 1636),
 ('JEFFERSON PARK', 1755),
 ('SOUTH DEERING', 1859),
 ('HYDE PARK', 1930),
 ('CLEARING', 2085),
 ('MOUNT GREENWOOD', 2091),
 ('WEST GARFIELD PARK', 2622),
 ('WASHINGTON PARK', 2648),
 ('GRAND BOULEVARD', 2809),
 ('BRIDGEPORT', 3167),
 ('WEST PULLMAN', 3240),
 ('MORGAN PARK', 3271),
 ('NEAR NORTH SIDE', 3362),
 ('AVONDALE', 3640),
 ('WEST ELSDON', 3700),
 ('HERMOSA', 3975),
 ('WASHINGTON HEIGHTS', 4006),
 ('SOUTH CHICAGO', 4043),
 ('GREATER GRAND CROSSING', 4051),
 ('ROGERS PARK', 4068),
 ('LINCOLN SQUARE', 4132),
 ('AUBURN GRESHAM', 4175),
 ('WOODLAWN', 4206),
 ('WEST LAWN', 4207),
 ('NORTH PARK', 4210),
 ('KENWOOD', 4287),
 ('UPTOWN', 4388),
 ('SOUTH SHORE', 4543),
 ('GARFIELD RIDGE', 4552),
 ('DUNNING', 4568),
 ('EDGEWATER', 4600),
 ('DOUGLAS', 4670),
 ('ARCHER HEIGHTS', 4823),
 ('CHATHAM', 5042),
 ('NORTH LAWNDALE', 5146),
 ('EAST SIDE', 5305),
 ('EAST GARFIELD PARK', 5337),
 ('LINCOLN PARK', 5615),
 ('WEST ENGLEWOOD', 5946),
 ('NORWOOD PARK', 6469),
 ('ASHBURN', 6483),
 ('ENGLEWOOD', 6832),
 ('ALBANY PARK', 6864),
 ('PORTAGE PARK', 6954),
 ('ROSELAND', 7020),
 ('LAKE VIEW', 7055),
 ('CHICAGO LAWN', 7086),
 ('LOWER WEST SIDE', 7257),
 ('LOGAN SQUARE', 7351),
 ('NORTH CENTER', 7541),
 ('IRVING PARK', 7764),
 ('NEW CITY', 7922),
 ('NEAR WEST SIDE', 7975),
 ('WEST RIDGE', 8197),
 ('HUMBOLDT PARK', 8620),
 ('WEST TOWN', 9429),
 ('BRIGHTON PARK', 9647),
 ('GAGE PARK', 9915),
 ('AUSTIN', 10933),
 ('BELMONT CRAGIN', 14386),
 ('SOUTH LAWNDALE', 14793)]

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [29]:
%%sql
select community_area_name, sum(college_enrollment) as Total_College_Enrollment from chicago_school
group by community_area_name
order by sum(college_enrollment)
fetch first 5 rows only

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

### Problem 10

##### List 5 schools with lowest safety score.

In [31]:
%%sql
select name_of_school, safety_score
from chicago_school
order by safety_score 
limit 5

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('Emil G Hirsch Metropolitan High School', 13)]

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [48]:
%%sql
select CS.community_area_name, CD.hardship_index, CS.college_enrollment 
from chicago_school CS, chicago_socioeconomic_data CD
where CS.community_area_number = CD.ca and college_enrollment = 4368
limit 1

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('NORTH CENTER', 6.0, 4368)]

### Problem 12

##### Get the hardship index for the community area which has the school with the  highest enrollment.

In [49]:
%%sql
select CS.community_area_name, CD.hardship_index, CS.name_of_school ,CS.college_enrollment
from chicago_school CS, chicago_socioeconomic_data CD
where CS.community_area_number = CD.ca 
order by college_enrollment desc
limit 1

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[('NORTH CENTER', 6.0, 'Albert G Lane Technical High School', 4368)]

In [50]:
%%sql
select ca, community_area_name, hardship_index from chicago_socioeconomic_data
where ca in (select community_area_number from chicago_school order by college_enrollment desc limit 1)

 * ibm_db_sa://pfq74109:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/bludb
Done.

[(5.0, 'North Center', 6.0)]